In this lab, you will be building a Plotly Dash application for users to perform interactive visual analytics on SpaceX launch data in
real-time.

This dashboard application contains input components such as a dropdown list and a range slider to
interact with a pie chart and a scatter point chart. You will be guided to build this dashboard application via the following tasks:

    TASK 1: Add a Launch Site Drop-down Input Component
    TASK 2: Add a callback function to render success-pie-chart based on selected site dropdown
    TASK 3: Add a Range Slider to Select Payload
    TASK 4: Add a callback function to render the success-payload-scatter-chart scatter plot

Note:Please take screenshots of the Dashboard and save them. Further upload your notebook to github.

The github url and the screenshots are later required in the presentation slides.

Your completed dashboard application should look like the following screenshot:

After visual analysis using the dashboard, you should be able to obtain some insights to answer the following five questions:

    Which site has the largest successful launches?
    Which site has the highest launch success rate?
    Which payload range(s) has the highest launch success rate?
    Which payload range(s) has the lowest launch success rate?
    Which F9 Booster version (v1.0, v1.1, FT, B4, B5, etc.) has the highest
    launch success rate?

In [1]:
import pandas as pd
df=pd.read_csv("spacex_launch_dash.csv")

In [7]:
launch_sites=df['Launch Site'].drop_duplicates().to_list()
label_dicts=[]
for launch_site in launch_sites:
    label_dict={launch_site:launch_site}
    label_dicts.append(label_dict)
options=[{'label': 'All Sites', 'value': 'ALL'},*label_dicts]

In [8]:
options

[{'label': 'All Sites', 'value': 'ALL'},
 {'CCAFS LC-40': 'CCAFS LC-40'},
 {'VAFB SLC-4E': 'VAFB SLC-4E'},
 {'KSC LC-39A': 'KSC LC-39A'},
 {'CCAFS SLC-40': 'CCAFS SLC-40'}]

In [9]:
df.head()

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category
0,0,1,CCAFS LC-40,0,0.0,F9 v1.0 B0003,v1.0
1,1,2,CCAFS LC-40,0,0.0,F9 v1.0 B0004,v1.0
2,2,3,CCAFS LC-40,0,525.0,F9 v1.0 B0005,v1.0
3,3,4,CCAFS LC-40,0,500.0,F9 v1.0 B0006,v1.0
4,4,5,CCAFS LC-40,0,677.0,F9 v1.0 B0007,v1.0

In [16]:
data=df.groupby('class')['Flight Number'].count().reset_index()

In [17]:
data

   class  Flight Number
0      0             32
1      1             24

In [19]:
data=df.groupby(['class','Launch Site'])['Flight Number'].count().reset_index()

In [20]:
data

   class   Launch Site  Flight Number
0      0   CCAFS LC-40             19
1      0  CCAFS SLC-40              4
2      0    KSC LC-39A              3
3      0   VAFB SLC-4E              6
4      1   CCAFS LC-40              7
5      1  CCAFS SLC-40              3
6      1    KSC LC-39A             10
7      1   VAFB SLC-4E              4

In [23]:
data=df.groupby('class')['Flight Number'].count().reset_index().rename(columns={'Flight Number':'Number of Flights'})

In [24]:
data

   class  Number of Flights
0      0                 32
1      1                 24

Now with the dashboard completed, you should be able to use it to analyze SpaceX launch data, and answer the following questions:

    Which site has the largest successful launches?
    Which site has the highest launch success rate?
    Which payload range(s) has the highest launch success rate?
    Which payload range(s) has the lowest launch success rate?
    Which F9 Booster version (v1.0, v1.1, FT, B4, B5, etc.) has the highest
    launch success rate?